@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Exo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.modal-background {
  @apply
  fixed top-0 w-full h-full grid items-center left-1/2 -translate-x-1/2 
  bg-bgd/50 z-10 backdrop-blur-md

}

.modal {
  @apply
  p-6
  mx-auto rounded-dd font-exo
  relative
  
}

.drop {
  @apply
  pl-5 text-black w-full rounded-dd px-6 py-3 border-mod font-exo italic
}

.input {
  @apply
  placeholder:italic px-6 py-3 text-black w-full border-mod mx-auto rounded-dd
}

.header {
  @apply
  fixed top-0 w-full px-5 sm:px-24 py-3 rounded z-20 /*backdrop-blur-md*/font-bau
}

/* Buttons */

.homeBT {
  @apply 
  rounded-dd border text-white border xl:px-5 px-3 py-3 cursor-pointer hover:shadow-lg 
  hover:bg-white/50 hover:text-bgd text-sm xl:text-2xl font-bau 
}

.modBT {
  @apply
  fixed left-1/2 -translate-x-1/2 bottom-3 text-center border rounded-dd py-3 text-bgd  px-5
  hover:bg-white/50 hover:text-bgd cursor-pointer font-bau text-2xl text-white backdrop-blur-lg
}

.propBT, .propCD {
  @apply
  border text-white rounded-dd text-center grid items-center 
}

.propBT {
  @apply
  hover:bg-white/50
  hover:text-bgd
  cursor-pointer
  xl:text-2xl
  text-sm
  py-3
  backdrop-blur-lg
}

.closeBT {
  @apply 
  w-10 h-10 border rounded-full absolute top-5 right-5 grid items-center text-white hover:bg-white/50 hover:text-bgd
}

.newBT {
  @apply
  bg-black/50 rounded-dd grid items-center w-96 cursor-pointer hover:text-bgd hover:shadow-lg
}

.wrap {
  @apply
  flex flex-wrap justify-end items-center
}

.navbar {
  @apply
  grid grid-cols-5
  bg-black/20 items-center xl:rounded-r-gen
  fixed bottom-0 xl:grid-cols-1 xl:left-0 align-middle	
  w-full xl:w-20 xl:h-[80%] xl:grid-rows-4 grid-cols-4
  xl:py-20  xl:inset-y-0 xl:my-auto 
}

.modGrid {
  @apply
  grid gap-3 font-exo relative h-full text-sm  text-center place-content-start md:grid-cols-2 grid-cols-1 xl:grid-cols-1 xl:text-lg
  px-3
}

.modInfo {
  @apply
  grid  text-left  items-center h-fit bg-white/10 px-3 grid-cols-12 rounded-dd
}

.imageBG {
  @apply grid items-center
  h-16 w-16 p-1 cursor-pointer rounded-full
  hover:bg-gray-500/70 focus:bg-mod mx-auto
}


.icons {
  @apply
  fill-white/50 hover:fill-white cursor-pointer
}

.carBT {
  @apply
  fixed bottom-0 transform
 -translate-y-1/2 border
  hover:bg-white/50 text-2xl m-auto h-12 w-12 px-2
  rounded-full shadow-md items-center grid text-center
  fill-white/50 hover:fill-bgd backdrop-blur-lg
}


.card0, .formCard, .detailCard {
  @apply
  mx-3 md:mx-24 
  bg-black/25
  rounded-gen
  grid  
  h-[fit] xl:h-[80vh]
}

.card0 {
  @apply
  xl:grid-rows-1
  xl:grid-cols-12
}

.card1 {
  @apply
  mx-3 md:mx-24
  h-screen xl:h-[80vh]
  grid gap-3
  2xl:grid-cols-5
  font-bau
}

.formCard {
  @apply
  xl:w-2/5 mx-auto w-full
}

.detailCard {
  @apply
  grid-cols-3 gap-3 p-3
  grid-rows-6
}

.propDashboard {
  @apply
  rounded-gen xl:col-span-10 p-3 border-white  
  grid xl:grid-cols-2 gap-3 overflow-auto scrollbar-hide place-content-start
}

.sortProposals {
  @apply
  grid grid-cols-3 xl:grid-cols-1 xl:col-span-2
  xl:h-full p-3 xl:gap-3 gap-1 font-bau text-2xl xl:relative fixed top-0 left-0
}

.newProp, .newEvidence {
  @apply 
  grid items-center text-center font-bau text-white text-2xl border-dashed border-2 animate-pulse
  cursor-pointer hover:font-bold hover:animate-none hover:bg-white/50 hover:text-bgd rounded-dd h-full
   
}

.formBT {
  @apply
  px-10 py-3 rounded-gen cursor-pointer text-white text-2xl font-bau
}

.blockedEvidence {
  @apply
  grid items-center text-center font-bau animate-pulse text-3xl cursor-not-allowed	 rounded-dd text-white row-span-2
  from-mod to-mod bg-gradient-to-r
}

.blockedEvidence2 {
  @apply
  grid items-center text-center font-bau animate-pulse text-2xl cursor-not-allowed rounded-dd bg-gray-500/50 text-white
}

.newEvidence {
  @apply
  border-gray-500/75 rounded-dd font-bau
}

.propCard {
  @apply
  grid border-gray-500/50 rounded-gen font-bau h-fit
}

.pending, .currentMod, .currentCit, .completed {
  @apply 
  h-3 w-3 rounded-full
}

.pending {
  @apply
  bg-gray-300
}

.currentCit {
  @apply
  bg-cit
}

.currentMod {
  @apply
  bg-mod
}

.completed {
  @apply
  bg-gray-500
}


.stateCard, .voteCard {
  @apply 
  rounded-gen grid items-center font-bau 
}

.stateCard {
  @apply
  bg-mod
}

.voteCard {
  @apply
  grid grid-cols-2
}


.daoMembers {
  @apply
  rounded-gen col-span-2 p-3 grid grid-cols-2 grid-rows-6 font-exo gap-3 text-gray-700

}

.cardBT {
  @apply
  bg-white/75 text-gray-500 hover:text-gray-900 
  w-auto mx-auto px-3 py-2 cursor-pointer shadow-lg hover:shadow-none rounded-dd mt-8 hover:ease-in hover:bg-white
}

.formBG {
  @apply
  from-cit/90 to-cit bg-gradient-to-t grid items-center text-center mx-auto px-3 py-20
}

.formProgress {
  @apply
  w-full px-10  mt-5 text-white font-exo mb-10
}

.stepOff, .stepOn {
  @apply
  font-exo text-white
}

.stepOn {
  @apply 
  underline underline-offset-2 font-bold
}

.tittleOff, .tittleOn {
  @apply
  absolute left-1/2 -translate-x-1/2
}

.tittleOn {
  @apply
  underline underline-offset-4 font-bold
}

.progressCircles {
  @apply
  w-10 h-10 mx-auto rounded-full text-lg flex items-center text-center grid text-white font-bold border-2
}

.progressBar {
  @apply
  w-2/6 align-middle content-center flex items-center 
}

.barContainer {
  @apply
  w-full rounded items-center align-middle flex-1
}

.barBar {
  @apply
  text-xs leading-none py-1 text-center
}

.barPhase {
  @apply
  font-bold text-mod
}

.formLabel {
  @apply
  pb-2 font-bau text-xl text-white text-left
}

.formFile {
  @apply
  w-full rounded-dd border-2 border-white border-dashed cursor-pointer hover:bg-gray-300/50 h-full grid items-center
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.MapPlaceHolder {
  height: auto !important;
  width: auto !important;
}

.GMAPS {
  border-radius: 100px;
  overflow: hidden;
  
}